.banner {
  width: 100% !important;
}

.movie-poster {
  top: 0;
  position: relative;
  margin-top: 0;
  width: 100vw !important;
  height: 600px; 
  object-fit: cover;
  background-size: cover;
  background-position: center ;

  
  /* Apply the fade using mask-image */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}


.banner-navigation{
  position:absolute;
  top: 250px;
}

button{
  background: none  ;
  opacity: 50%;
  width: 10%;
  margin: 5px;
}

.movie-description{
  max-width: 50%;
}

button:hover {
 
  opacity: 100%;
}